@font-face {
    font-family: "krabbypatty";
    src: url("/KrabbyPatty.ttf");
}

* {
    margin: 0;
}

html, body {
    margin: 0;
    text-align: center;
}

/* Typography */
header {
    background-image: url("images/SpongeBob-Banner.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}

main {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/sb-background.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}

h1 {
    background: linear-gradient(45deg, #f06, #9f6);
    color: transparent;
    display: inline-block;
    font-size: 48px;
    font-family: "krabbypatty";
    margin: 50px;
    -webkit-background-clip: text;
}

button {
    margin: 50px;
}
/* ID Selectors */


/* Class Selectors */
.radio {
  border: 1px solid red;
  width: 200px;
  margin: auto;
}

.highlight {
  background-color: #fff0ee;
  color: #bd301d;
  font-weight: bold;
  accent-color: #bd301d;
}

.meme-modal{
  display: none; /*flex when displayed*/
  position: fixed;
  margin: auto;
  top: 100px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid w#67595e;
  border-radius: 5px;
  width: 420px;
  height: 490px;
  background-color: #fff0ee;
}

.meme-img{
  max-width: 340px;
  max-height: 420px;
  border-radius: 5px;
}
/* Combinators */

/* Keyframes */

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

h1.floating {
    animation: float 2s ease-in-out infinite;
  }