@font-face {
    font-family: "krabbypatty";
    src: url("/KrabbyPatty.ttf");
}

* {
    margin: 0;
}

html, body {
    margin: 0;
    text-align: center;
}

/* Typography */
header {
    background-image: url("images/SpongeBob-Banner.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}

main {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/sb-background.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}

h1 {
    background: linear-gradient(45deg, #f06, #9f6);
    color: transparent;
    display: inline-block;
    font-size: 48px;
    font-family: "krabbypatty";
    margin: 50px;
    -webkit-background-clip: text;
}

button {
    margin: 10px;
}

/* Class Selectors */
.radio {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  color: #2bb7c8;
  display: flex;
  font-family: "krabbypatty";
  font-size: 24px;
  justify-content: space-between;
  padding: 10px;
  margin: 1px auto;
  width: 200px;
}

.highlight {
  background-color: #fff0ee;
  color: #bd301d;
  font-weight: bold;
  accent-color: #bd301d;
}

.meme-modal {
  align-items: center;
  background-color: #fff0ee;
  border: 1px solid w#67595e;
  border-radius: 5px;
  display: none; /*flex when displayed*/
  justify-content: center;
  position: fixed;
  margin: auto;
  top: 100px;
  left: 0;
  right: 0;
  width: 600px;
  height: 400px;
}

.meme-modal-close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.meme-modal-close-btn:hover{
  color: white;
  background-color: #bd301d;
  border: 2px solid #bd301d;
}

.meme-img{
  max-width: 340px;
  max-height: 420px;
  border-radius: 5px;
}

.gifs-check {
  margin-top: 25px;
  font-weight: bold;
}

/* Keyframes */

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

h1.floating {
    animation: float 2s ease-in-out infinite;
  }